<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Welcome, <%= user.username %> (<%= user.role %>)</h1>
  <ul>
    <li><a href="/appointments">Appointment</a></li>
    <li><a href="/billing">Billing</a></li>
    <li><a href="/staff">Staff Schedules</a></li>
  </ul>
</body>
</html>
